* { 
   
    background-color: #1b1c1b;
}

header{
    display: flex;
    background-color: black;
    color: white;
    width: 1015;
    height: 56;
    border-color: red;
    justify-content:space-between;
    padding-top:0px;
    top: 0;
    position: fixed;
    width: 100%;
}


.barrasLogo{
    display: flex; 
    background-color: black; 
    padding-right: 50px;
    
     
}


#barras {
    padding: 10px;
    align-self: center;
    background-color: black;     
}

.buscar {
    display: flex;
    background-color: black;
    width: 589;
    
    padding-right: 10px;
    
}

#busqueda{
    width: 433px;
    height: 40px;
    align-self: center;
}

#tache {
    align-self: center;
    background-color:#1b1c1b;
    width: 25px;
    height: 25px;
    padding: 7.5px;
}

#lupa {
    align-self: center;
    background-color: #333336;
    width: 20px;
    height: 20px;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
}


#mic {
    align-self: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 5px;

}

.user{
    
    display: flex;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-end;
    flex-grow: 2;


}

#grid {
    align-self: center;
}

#dots {
    align-self: center;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}

.signin {
    display: flex;
    border: 1px solid royalblue;
    height: 40px;
    align-self: center;
    font-family: sans-serif;
    border-radius: 2px;
}

#sign {
    align-self: center;
    padding-right: 20px;
    color: royalblue;
    padding-left: 20px;
    
}
#face {
    align-self:center;
    padding-left: 20px;
}

main {
    display: flex;
    padding-top: 100px;
    padding-left: 20px;
}

.video {
    
}

#titulo {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 30px;
}

#info {
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
    padding-top: 10px;
    
    border-bottom: 1px solid dimgray;
}

#like{
    padding-left: 80px;
    opacity: 0.70;

}


.previews {
    
    padding-left: 50px;
}

.previo {
    display: flex;
    padding-bottom: 20px;
}

.precaption {
     
    padding-left: 10px;
    
}
.pretitulo {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    font-weight: 700;
    

}

.canal{
    font-family: sans-serif;
    font-size: 13px;
    color: gray;
    padding-top: 10px;
    font-weight: 500;
  

}

.preinfo {
    font-family: sans-serif;
    font-size: 13px;
    color: gray;
    padding-top: 8px;
    padding-bottom: 10px;
    font-weight: 500;

}